body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #77f37f;
}
h1 {
  font-size: 100px;
  color: #b72d2f;
  position: relative;
}

h1::before {
  content: "#ILoveCode";
  position: absolute;
  top: 0%;
  left: 0%;
  color:#6735e6;
  border: 2px black;
  width: 0%;
  overflow: hidden;
  transition: all 0.6s;
}

h1:hover::before {
  width: 100%;
}